.authorButton {
    display: block;
    height: 150px;
    width: 50%;
    margin: 0 auto;
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    --author-color: #4F4F4F;
    --arrow-color: #ffffff;
}

.authorButton:hover {
    background: #333333;
    cursor: /*url(add custom pointer),*/ pointer;
    --author-color: #F2F2F2;
    --arrow-color: #F2F2F2;
}

.author {
    color: var(--author-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.genre {
    color: #828282;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.author, .genre {
    margin: 0;
    text-align: start;
}

.arrow {
    fill: var(--arrow-color);
    width: 36px;
    height: 36px;
}

html[dir="rtl"] .arrow {
    transform: scaleX(-1);
}