@import url('https://fonts.googleapis.com/css?family=Montserrat');

footer {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    color: #828282;
    margin-top: 20px;
}

.user {
    font-weight: 700;
    color: inherit;
}

.devChallenges {
    text-decoration-line: none;
    color: inherit;
}