q {
    width: 400px;
    display: flex;
    margin: auto
}

q::before {
    width: 10px;
    background: #F7DF94;
    color: #F7DF94;
    position: relative;
    inset-inline-end: 30px;
}

q::after {
    content: none;
}

/* :global from all the app */