.quoteBlock {
    display: flex;
    width: 60%;
    margin: 50px auto;
}

q {
    color: #000000;
    font-style: normal;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 120%;
    width: 90%;
}

.quoteLine {
    width: 10px;
    height: inherit;
    background: #F7DF94;
    color: #F7DF94;
    margin-inline-end: auto;
}

q::after {
    content: none;
}